.keyboard-img{
    width:100%;
    /* height: 100vw; */
}
.home-div-one{
    position: relative;
    top: 0;
    height: 10vw;
}
.divOne-h2{
    position: relative;
    /* margin-bottom: 59vw; */
    bottom: 55vw;
    width: 40vw;
    font-size: 2.5vw;
}
.divOne-Bt{
    position: relative;
       bottom: 50vw;
       margin-right: 60vw;
       background-color: none;
       border: 1px solid gray;
       border-radius: 2vw;
       cursor: pointer;
       height: 3vw;
       width: 9vw;
       font-size: 1.3vw;
       background-color: transparent;
       font-weight: 600;
}
.divOne-Bt:hover{
background-color: rgba(60, 138, 240, 0.393);
color: aliceblue;
}
/* .divOne-linkbt{
    bottom: 90vw;
} */
 .marquee{
    position: relative;
    bottom: 40vw;
    font-size: 4vw;
    color: white;
    font-style: italic;
    /* height: 4vw; */
    bottom: 50vw ;
 }

 .featured{
    margin-top: 60vw;
    font-size: 1.5vw;
 }
 .product-name{
    margin-top: 3vw;
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
 }
 .mouseImg{
    width: 40vw;
 }


 .services{
    margin-top: 8vw;
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;
 }
 .basicServices{
    width: 25vw;
 }
 .advancedServices{
    width: 25vw;
 }
 .basic-h3 , .advanced-h3{
      font-size: 1.3vw;
 }
 .basic-p , .advanced-p{

    font-size: 1.3vw;
 }

/* bookappointment */
.bookAppointment{
    margin-top: 5vw;
    border: 1px solid gray;
    border-radius: 1vw;
    width: 50vw;
    height: 32vw;
    margin-left: 23vw;
    /* padding: 2vw; */
    background-color: white;
}
.plan-one , .plan-two , .plan-three{
    margin-top: 2vw;
    border: 1px solid gray;
    border-radius: 1vw;
    width: 40vw;
    margin-left: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* align-content: ; */
}
.plan-bt{
background-color: black;
color: white;
width: 7vw;
height: 2vw;
border: none;
border-radius: 20vw;
cursor: pointer;
}
.your-info , .confirmation{
    margin-top: 2vw;
    border: 1px solid gray;
    border-radius: 1vw;
    width:50vw;
    margin-left: 23vw;   
    /* justify-content: space-around; */
    /* text-align:initial; */
}
.powerdBy{
    margin-top: 3vw;
}

.powerdBy h5{
    font-size: 1.5vw;
}

/* about */

.about{
    margin-top: 10vw;
    display: flex;
    /* gap: 10vw; */
    align-items: center;
    justify-content:space-around;
}
.about-des{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.abt-h2{
    font-size: 3vw;
    width: 20vw;
}
.abt-p{
    font-size: 1.3vw;
    width: 30vw;
    color: gray;
}
.abt-bt{
    background-color: rgba(60, 9, 202, 0.879);
    color: white;
    width: 10vw;
    height: 3vw;
    border: none;
    border-radius: 10vw;
    margin-top: 2vw;
}
.abt-bt:hover{
    background-color: rgba(137, 43, 226, 0.382);
    color: black;
}
.aboutImg{
    width: 30vw;
    /* height: 8vw; */
}

/* followus  */
.marque-followUs{
    font-size: 4vw;
    color:gray;
}
.social-bt{
    background-color: rgba(60, 9, 202, 0.879);
    color: white;
    width: 10vw;
    height: 3vw;
    border: none;
    border-radius: 10vw;
    /* margin-top: 1vw; */
}
.social-bt:hover{
    background-color: rgba(137, 43, 226, 0.382);
    color: black;
}
.icons{
 display: flex; 
 align-items: center;
 justify-content: space-around; 
 margin-top: 2vw;
}


@media screen and (max-width: 426px) {
    .keyboard-img {
        width: 180%;
    }
    .divOne-h2 {
        bottom: 105vw;
        font-size: 5vw; 
        position: relative;
        width: 95vw;
        margin-left: 35vw;
        background-color: rgba(196, 255, 253, 0.352) ;
        border: none;
        border-radius: 2vw;
        padding: 2vw;
    }
    .divOne-Bt{
        width: 40vw;
        bottom: 100vw;
        height: 10vw;
        font-size: 4vw;
        margin-left: 65vw;
        background-color: white;
    }
    .rfm-marquee-container{
        top: -110vw;
        width: 280%;
        margin-left: 10vw;
        font-size: 4vw;
        
    }
    .featured {
        margin-top: 120vw;
        font-size: 3.5vw;
        /* margin-left: 20vw; */
        width: 180%;
    }
    .product-name {
        margin-top: 5vw;
        display: flex;
        gap: 1vw;
        align-items: center;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    .mouseImg {
        width: 120vw;
    }
    .mouse-h3 , .mouse-p{
        font-size: 6vw;
    }
    .services {
        margin-top: 8vw;
        display: flex;
        gap: 2vw;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    .basicServices, .advancedServices {
        width: 120vw;
    }
    .basic-h3, .advanced-h3 , .intermediateServices-h3{
        font-size: 6vw;
    }
    .basic-p, .advanced-p , .intermediateServices-p{
        font-size: 6vw;
    }
    .bookAppointment{
        width: 140vw;
    height: 110vw;
    }
    .plan-one, .plan-two, .plan-three {
        margin-top: 2vw;
        border: 1px solid gray;
        border-radius: 1vw;
        width: 130vw;
        margin-left: 5vw;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: space-around;
    }
    .your-info, .confirmation {
       width: 140vw;
    }
    .powerdBy {
        margin-top: 3vw;
        margin-left: 85vw;
        width: 20vw;
    }
    .bookAppointment-h3{
        font-size: 6vw;
    }
    .plan-flex-h4 {
        font-size: 4.5vw;
    }
    .plan-flex-p {
       font-size: 3.5vw;
    }
    .plan-bt{
        width: 20vw;
        height: 7vw;
    }
    .powerdby-p{
     font-size: 5vw;
    }
    .powerdBy h5 {
        font-size: 3vw;
    }
    .about {
        display: flex;
        gap: 2vw;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 180vw;
    }
    .about-des {
        width: 140vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
    }
    .aboutImg {

        width: 120vw;
    }
    .abt-h2 {
        font-size: 8vw;
        width: 80vw;
    }
    .abt-p {
        font-size: 4vw;
        width: 85vw;
        color: gray;
    }
    .abt-bt{
        width: 27vw;
        height: 8vw;
    }
    .rfm-marquee-container {
        width: 100vw;
        top: -90vw;
        margin-left: 40vw;
        font-size: 6vw;
    }
    .social-bt{
        width: 20vw;
        height: 8vw;
        margin-left: 80vw;
    }
    .icons {
        width: 180vw;
        display: flex;
        align-items: center;
        margin-top: 2vw;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
    }
 
}


