.bookNow{
    margin-top: 7vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15vw;
    /* background-color: rgba(99, 98, 98, 0.726); */
}
.book-text{
    /* border: 1px solid gray; */
    margin-left:3vw ;
}

.book-h1{
    font-size: 3.5vw;
}
.book-p{
    font-size: 1.5vw;
}
.book-form{
    width: 85vw;
    margin-right: 2vw;
}
.bookAppointment-booknow {
    /* margin-top: 5vw; */
    border: 1px solid gray;
    border-radius: 1vw;
    width: 50vw;
    height: 32vw;
    /* margin-left: 23vw; */
    /* padding: 2vw; */
    background-color: white;
}
.your-info-booknow, .confirmation-booknow {
    margin-top: 2vw;
    border: 1px solid gray;
    border-radius: 1vw;
    width: 50vw;
    /* margin-left: 23vw; */
    /* justify-content: space-around; */
    /* text-align: initial; */
}


@media screen and (max-width: 426px) {
    .bookNow {
        margin-top: 7vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        /* background-color: rgba(99, 98, 98, 0.726); */
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        width: 180vw;
    }
    .book-text {
        /* border: 1px solid gray; */
        /* margin-left: 3vw; */
        width: 180vw;
    }
    .book-h1 {
        font-size: 8vw;
    }
    .book-p {
        font-size: 6vw;
    }
    .book-form {
        width: 140vw;
        margin-right: 0vw;
    }
    .bookAppointment-booknow {
    width: 140vw;
    height: 100vw;
    }
    .your-info-booknow, .confirmation-booknow {
        width: 140vw;
    }
    .powerdBy {
        margin-top: 3vw;
        margin-left: 60vw;
        width: 24vw;
    }

}